
@{
    ViewBag.Title = "Trần Văn Minh - Index";
}

<h2>Trần Văn Minh - Index</h2>
</hr>
<h3> Hiển thị dữ liệu lấy từ action trong controller</h3>
<h4>Full name: @ViewBag.fullname</h4>
<h4>Ngày sinh: @ViewData["Birthday"]</h4>
<h4>Di động: @TempData["phone"]</h4>

